* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  stroke: #edeff5;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.icon.active {
  height: 8px;
}

.icon-close {
  width: 50px;
  height: 50px;
  stroke: white;
}

.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.pop-up__container {
  position: relative;
}

.button__open {
  margin-top: 48px;
  text-align: center;
  background-color: orange;
  padding: 10px 40px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border: none;
}
.button__open:hover {
  background-color: red;
  transition: 1s;
}

.pop-up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(42, 49, 55, 0.75);
  z-index: 2;
}

.pop-up.active {
  display: block;
}

.pop-up__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.pop-up__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pop-up__body {
  margin: auto;
  width: 650px;
  height: 599px;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 25px;
}

.pop-up__input {
  width: 600px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  background-color: #f4f6f8;
  border: none;
  margin-bottom: 15px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.dropdown-content label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.dropdown__svg {
  width: 13px;
  height: 14px;
  margin-right: 10px;
}
.pop-up-close {
  width: 50px;
  height: 50px;
}
.pop-up__input:focus {
  outline: none;
}

.pop-up__tablet {
  width: 566px;
  height: 365px;
  display: flex;
  flex-direction: column;
  overflow: overlay;
  overflow: overlay;
  transition: overflow 0.5s;
}

.pop-up__tablet.no-scroll {
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown__line {
  display: flex;
  align-items: center;
  padding: 13.5px 15px 13.5px 15px;
}

.dropdown__line.active {
  background-color: #eff5ff;
}
.dropdown-content {
  display: none;

  min-width: 160px;
  border-radius: 3px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 15px 35px 15px 35px;
}

.dropdown-content label {
  display: none;
}
.dropdown-content label {
  display: block;
}

.dropdown-content label:not(:last-child) {
  padding-bottom: 10px;
}

.dropdown-content input[type='radio'] {
  margin-right: 10px;
}

.pop-up_close {
  position: absolute;
  right: 50px;
  top: 50px;
}

.icon-close-mobile {
  /* display: none; */
  width: 50px;
  height: 50px;
  stroke: black;
}

.pop-up_close-mobile{
  display: none;
}

@media (max-width: 840px) {
  .pop-up_close {
    display: none;
    position: absolute;
    right: 20px;
    top: 18px;
  }


  .pop-up_close-mobile {
    display: block;
  }

  .icon-close-mobile{
    width: 36px;
    height: 36px;
  }
}


@media (max-width: 767px) {
  .pop-up__tablet {
    width: auto;
  }

  .pop-up__input {
    width: 100%;
  }

  .pop-up__body {
    width: auto;
  }
  .pop-up__container {
    padding-left: 10px;
    padding-right: 10px;
  }


}

@media (max-width: 370px) {
  .pop-up__body {
    width: auto;
    padding: 10px;
  }
}
